login=login
password=password
server=jabber.ru
nickname=horta hell
message=Hell installed!

owner=example@example.org

rooms=room1,room2,room3
room1.room=foo@baz.bar
room1.nickname=Architect of Fate
room1.message=Just as planned!
room1.events=twitter

room2.room=example@example.org
room2.nickname=Changer of Ways

room3.room=fgs@fds.omg

localization.default=ru

markov_messages_per_minute=5
markov_message_word_limit=30

storage.url=jdbc:h2:hell;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
storage.user=sa
storage.password=

twitter.enabled=true
twitter.auth.consumerKey=aa
twitter.auth.consumerSecret=aa
twitter.auth.token=aa
twitter.auth.tokenSecret=aa
