<configuration debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ru.org.codingteam.horta.events.TwitterEndpoint" level="INFO" />
  <logger name="org.apache.http.wire" level="INFO" />
  <logger name="ru.org.codingteam.horta.plugins.TwitterPlugin" level="INFO" />
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
